.ZxSajUshA8 {
  position: absolute;
  bottom: 10cm;
  color: white;
  left: 15cm;
  font-size: 70px;
  text-align: center;
  transition: 1s;
}

.nExS91Da {
  position: absolute;
  bottom: 8cm;
  color: white;
  left: 10cm;
  font-size: 70px;
  text-align: center;
  transition: 1s;
}
